* {
    border: none;
    border-radius: 0;
    min-height: 0;
    /* font-family: "mononoki"; */
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #101010;
    border-bottom: 2px solid #4b4239;
}

window.overlay#waybar {
  background: transparent;
  border: none;
}

tooltip {
    background-color: #101010;
    border: 2px solid #766451;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-cava {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #322d28;
    margin: 6px 6px 6px 6px;
    border: 2px solid #625343;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #917a53;
}

#workspaces button.focused {
    color: #ddc7a1;
}

#workspaces button.urgent {
    background-color: #e78a4e;
    color: #1d2021;
}

#clock {
    background-color: #322d28;
    border: 2px solid #625343;
    color: #d4be98;
}


#tray,
#cpu,
#memory,
#network,
#bluetooth,
#battery,
#pulseaudio {
    background-color: #c9af82;
    border: 2px solid #917a53;
    color: #1d2021;
}

#cpu.critical,
#memory.critical {
    background-color: #c9af82;
    border: 2px solid #917a53;
    color: #c14a4a;
}

#bluetooth.off {
  background-color: #1d2021;
  color: #c9af82;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #c9af82;
    border: 2px solid #917a53;
    color: #ae6330;
}
#custom-cava {
    color: #c9af82;
    border: none;
    font-family: "bargraph";
    font-size: 22px;
}
#custom-playerinfo {
    font-size: 13px;
    color: #c9af82;
}
